{{/* Google Search Console verification - replace VERIFICATION_CODE with actual code */}}
{{- if site.Params.googleSiteVerification }}
<meta name="google-site-verification" content="{{ site.Params.googleSiteVerification }}">
{{- end }}

{{/* Bing Webmaster verification */}}
{{- if site.Params.bingSiteVerification }}
<meta name="msvalidate.01" content="{{ site.Params.bingSiteVerification }}">
{{- end }}

{{/* Canonical URL */}}
<link rel="canonical" href="{{ .Permalink }}">

{{/* Additional SEO meta */}}
<meta name="author" content="{{ site.Params.author | default "TechPulse" }}">
